.value{

    text-transform: uppercase;
    background-color: #2a914a;
    color: #ffffff;
    padding: 7px;
    font-size: 12px;
}
.value1{

    text-transform: uppercase;
    background-color: #5d6e7a;
    color: #ffffff;
    padding: 7px;
    font-size: 12px;
}
.value2{

    text-transform: uppercase;
    background-color: #145c8f;
    color: #ffffff;
    padding: 7px;
    font-size: 12px;
}
.value3{

    text-transform: uppercase;
    background-color: #e74c3c;
    color: #ffffff;
    padding: 7px;
    font-size: 12px;
}
.product-detail-banner{
    padding: 10px;
}
.product-detail-banner .gift-banner-left{
    float: left;
    width: 5%;
    position: absolute;
   }
.product-detail-banner .banner-left{
    float: left;
    display: inline-block;
    position: relative;
    width: 40%;
}

.product-detail-banner .banner-right{
    float: right;
    width: 40%;
    position: relative;
    padding-right: 20px;
}

.header-menu-search{
    background-color: #263544;

}


.skip-content-top-manu{
    width: 80%;
    background-color: #263544;
    float: left;
    color:#ffffff;

}
.skip-content-search{
    width: 10%;
    float: left;
}
.header-minicart{
    width: 10%;
    background-color: #263544;
    float: right;
}

.account-id{
  padding: 3px;
    border: 1px solid #000000;
}